
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title%></h1>
                        <span class="meta"><%= link_to "Back", post_path(@post) %>|
<%= link_to "Delete", post_path(@post), :method => :delete, data: {confirm: "Are you sure you want to delete this post?"} %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                </div>
            </div>
           </div>
       </article>

<h1>Edit post <%= params[:id]%></h1>
<h2><%= link_to "Home", posts_path(@post) %></h2>

<%= render "form"%>