 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Rails Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Blog Developed in Ruby on Rails</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<head><%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<% @posts.each do |post| %>
            	<div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            <%= link_to post.title, post_path(post) %>
                        </h2>
                        
                    </a>
                    <p class="post-meta"><%= link_to "Edit", edit_post_path(post) %>|
<%= link_to "Delete", post_path(post), :method => :delete, data: {confirm: "Are you sure you want to delete this post?"} %></p>
                </div>
                <hr>
                <% end %>
            </div>
        </div>
    </div>

